.app{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .tv{

    }
    .volumeRemote{
        position: absolute;
        bottom: 5rem;
        left: 5rem;
    }
    .programeRemote{
        position: absolute;
        bottom: 5rem;
        left: 10rem;
    }
}